_book\
/bookdown/_book/
.Rproj.user
.Rhistory
.RData
.Ruserdata
.pdf
.docx
_sitemain
.Rproj
.html
.xlsx
index.html
*.pptx
figs/web-icons.pptx
bookdown/.obsidian/workspace.json
bookdown/.obsidian/hotkeys.json
bookdown/.obsidian/graph.json
bookdown/.obsidian/core-plugins.json
bookdown/.obsidian/core-plugins-migration.json
bookdown/.obsidian/appearance.json
bookdown/.obsidian/app.json
Prop_Eng_by_Doctor.jpg
